<a href="https://colab.research.google.com/github/dlscks/pythondemo/blob/main/python_33_%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5_%ED%95%98%EC%9D%B4%ED%8D%BC_%ED%8C%8C%EB%9D%BC%EB%AF%B8%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/python_demo

Mounted at /content/drive
/content/drive/MyDrive/python_demo

### iris dataset

In [2]:
from sklearn.datasets import load_iris

In [3]:
data = load_iris()

In [5]:
import pandas as pd

In [7]:
dir(data)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [8]:
data_pd = pd.DataFrame(data.data, columns=data.feature_names)
target_pd= pd.DataFrame(data.target, columns=['target'])
iris = pd.concat([data_pd,target_pd], axis=1)

In [9]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [10]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [11]:
from sklearn.model_selection import train_test_split

In [18]:
# hold out
X_train, X_test, y_train, y_test = train_test_split(iris.iloc[:,:-1], iris.target)

In [19]:
from sklearn.metrics import confusion_matrix

In [20]:
from sklearn.neighbors import KNeighborsClassifier

In [21]:
knn = KNeighborsClassifier()

In [22]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [25]:
pred = knn.predict(X_test)
pred

array([0, 0, 1, 2, 0, 2, 1, 2, 2, 1, 1, 2, 0, 0, 1, 2, 1, 1, 0, 2, 2, 1,
       2, 0, 1, 0, 1, 1, 0, 0, 1, 0, 2, 1, 2, 2, 2, 1])

In [26]:
confusion_matrix(y_test, pred)

array([[11,  0,  0],
       [ 0, 13,  2],
       [ 0,  1, 11]])

- 행은 실제, 열은 예측값이다.
- 실제 0인데 0으로 예측한 값 11개
- 실제 1인데 1로 예측한값 13개 2로예측한값 2개
- 실제 2인데 1로 예측한값 1개 2로예측한값 11개   

array([[11,  0,  0],   
       [ 0, 13,  2],   
       [ 0,  1, 11]])   

- 위의 결과를 cofision matrix는 다음과 같다.

| |setosa로 예측|versicolor로 예측 | virginica로 예측|   
|---|---|---|---|   
|실제 setosa|11|0|0|   
|실제 versicolor|0|13|2|   
|실제 virginica|0|1|11|

- 이진 분류하는 confusion matrix에서 각 위치를 다음과 같이 이름 붙인다.

|||Predict||
|---|---|---|---|
|   |   |True|False|
|Actual|True|True Positive|False Negative(2종오류)|
|      |False|False Positive(1종오류)|True Negative|

- False Positive는 1종 오류
- False Negative는 2종 오류

- 1종 오류와 2종 오류 중에서 어떤 것이 더 중요한지는, 의사결정자의 판단에 따라 다르다.

Confusion matrix에 기반하여 다음과 같은 모델의 성능 지표가 있다.
정확도는 맹점이 있기 때문에 다른 평가지표도 함께 살펴볼 필요가 있다.
 
- accuracy(정확도)
 
    전체 데이터 중에 예측이 맞은 비율
 
    $$accuracy = \frac{TP+TN}{TP+FP+TN+FN}$$
 
- precision(정밀도)
 
    양성으로 예측한 것 중에서 양성이 맞는 비율
 
    즉, 예측한 거 중에 맞은 비율
 
    $$precision = \frac{TP}{TP+FP}$$
 
- recall(재현률)
 
    실제 양성인 것  중에서 양성으로 예측한 비율
 
    즉, 맞은 비율
 
    $$reacll = \frac{TP}{TP+FN}$$



![이미지](https://2.bp.blogspot.com/-EvSXDotTOwc/XMfeOGZ-CVI/AAAAAAAAEiE/oePFfvhfOQM11dgRn9FkPxlegCXbgOF4QCLcBGAs/s1600/confusionMatrxiUpdated.jpg)

In [27]:
from sklearn.metrics import classification_report

In [29]:
# 내부적으로 confusion matrix을 만든 후 평가 지표별로 점수를 계산해 준다.
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       0.93      0.87      0.90        15
           2       0.85      0.92      0.88        12

    accuracy                           0.92        38
   macro avg       0.92      0.93      0.93        38
weighted avg       0.92      0.92      0.92        38

### Hyper Parameter
- 하이퍼 파라미터에 따라서 성능이 달라진다.
- 그러므로, 최적의 하이퍼 파라미터를 찾는 것이 중요하다.

In [30]:
# 단순하게 하이퍼 파라미터를 for문으로 찾는 방법
temp = []
for i in range(1, 20):
  knn = KNeighborsClassifier(n_neighbors=i)
  knn.fit(X_train, y_train)
  temp.append(knn.score(X_test, y_test))

In [31]:
temp

[0.9473684210526315,
 0.8947368421052632,
 0.9473684210526315,
 0.8947368421052632,
 0.9210526315789473,
 0.9473684210526315,
 0.9473684210526315,
 0.9473684210526315,
 0.9473684210526315,
 0.9473684210526315,
 0.9473684210526315,
 0.9210526315789473,
 0.9473684210526315,
 0.9473684210526315,
 0.9473684210526315,
 0.9473684210526315,
 0.9473684210526315,
 0.9210526315789473,
 0.9473684210526315]

In [32]:
import numpy as np

In [33]:
# 큰 값을 저장하고 있는 인덱스를 리턴한다.
# n_neighbors가 0일때 성능이 가장 좋다.
np.argmax(temp)

0

### 교차 검증(3 way holdout)
데이터셋을 총 3등분한다.
- train set : 모델 학습에 사용한다.
- validation set : 하이퍼 파라미터를 찾기 위해서 사용한다.
- test set : 한번도 안 본 데이터로 모델의 성능을 측정하기 위해서 사용한다.

In [35]:
X_train, X_test, y_train, y_test = train_test_split(iris.iloc[:,:-1], iris.target)

In [37]:
X_train, X_validation, y_train, y_validation = train_test_split(X_train, y_train)

In [38]:
# 하이퍼 파라미터를 찾기 위해서 3-way holdout을 한다.
temp = []
for i in range(1, 20):
  knn = KNeighborsClassifier(n_neighbors=i)
  knn.fit(X_train, y_train)
  temp.append(knn.score(X_validation, y_validation))

In [40]:
print(temp)

[0.9642857142857143, 1.0, 1.0, 0.9642857142857143, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9642857142857143, 1.0, 1.0, 1.0, 0.9642857142857143, 0.9642857142857143, 0.9642857142857143, 0.9642857142857143]

In [41]:
# 3-way holdout으로 했을 때, 하이퍼 파라미터 n_neighbors가 2일때 가장 성능이 좋다.
np.argmax(temp)

1

### cross_val_score로 하이퍼 파라미터 찾는 방법

In [42]:
from sklearn.model_selection import cross_val_score

In [49]:
# 이 방법은 모든 데이터를 사용하기 때문에 위의 temp방식 보다 많이 사용한다.
temp2 = []
for i in range(1, 20):
  temp2.append(cross_val_score(KNeighborsClassifier(n_neighbors=i), iris.iloc[:,:-1], iris.target).mean())

In [50]:
print(temp2)

[0.96, 0.9466666666666665, 0.9666666666666668, 0.9733333333333334, 0.9733333333333334, 0.9800000000000001, 0.9800000000000001, 0.9666666666666668, 0.9733333333333334, 0.9800000000000001, 0.9800000000000001, 0.9800000000000001, 0.9733333333333334, 0.9666666666666666, 0.9666666666666668, 0.9666666666666668, 0.9666666666666668, 0.9666666666666666, 0.9666666666666668]

In [47]:
# temp와 최적화 하이퍼 파라미터가 다르게 나왔다.
np.argmax(temp2)

5

In [52]:
# 찾아낸 하이퍼 파라미터로 최종 모델을 만든다.
# 최종 모델은 모든 데이터를 써서 학습한다.
knn_final = KNeighborsClassifier(n_neighbors=6)
knn_final.fit(iris.iloc[:,:-1], iris.target)

KNeighborsClassifier(n_neighbors=6)

### GridSearchCV
- scikit-learn에서 하이퍼파라미터를 편하게 찾는 방법을 제공하고 있는 기능이다.

In [53]:
from sklearn.model_selection import GridSearchCV

In [54]:
knn = KNeighborsClassifier()

In [55]:
# scikit-learn의 알고리즘들은 get_params를 공통적으로 가지고 있다.
# 알고리즘이 사용할 수 있는 하이퍼 파라미터를 알려준다.
knn.get_params()

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 5,
 'p': 2,
 'weights': 'uniform'}

In [59]:
# param_grid의 key는 get_params에 나오는 하이퍼 파라미터만 쓸 수 있다.
# param_grid의 value는 테스트에 볼 하이퍼 파라미터를 리스트로 넣는다.
grid = GridSearchCV(KNeighborsClassifier(), {'n_neighbors':[2,3,4,5,6,7]})

In [60]:
grid.fit(iris.iloc[:,:-1], iris.target)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [2, 3, 4, 5, 6, 7]})

In [61]:
# 가장 좋은 하이퍼 파라미터를 한번에 찾아준다.
grid.best_params_

{'n_neighbors': 6}

In [62]:
# 가장 좋은 하이퍼 파라미터의 성능을 알려준다.
grid.best_score_

0.9800000000000001

In [63]:
# grid searck한 결과를 총 정리해 준다.
grid.cv_results_

{'mean_fit_time': array([0.00260139, 0.00184941, 0.00181808, 0.00196009, 0.00257068,
        0.001998  ]),
 'std_fit_time': array([7.17150230e-04, 3.11254519e-05, 6.56129662e-05, 1.73771813e-04,
        5.92865685e-04, 1.12352225e-04]),
 'mean_score_time': array([0.00350695, 0.002667  , 0.0027597 , 0.00270467, 0.00359778,
        0.00286021]),
 'std_score_time': array([1.12343299e-03, 7.49795766e-05, 1.96634601e-04, 5.63090780e-05,
        7.82359462e-04, 1.90335308e-04]),
 'param_n_neighbors': masked_array(data=[2, 3, 4, 5, 6, 7],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_neighbors': 2},
  {'n_neighbors': 3},
  {'n_neighbors': 4},
  {'n_neighbors': 5},
  {'n_neighbors': 6},
  {'n_neighbors': 7}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.96666667]),
 'split1_test_score': array([0.93333333, 0.96666667, 0.96666667, 1.        , 1.        ,
        1.        ]),
 'split2_test_score': array([0.93333333, 0.93333333, 0.96666667, 0.93333333, 0.96666667,
        0.96666667]),
 'split3_test_score': array([0.9       , 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.96666667]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.94666667, 0.96666667, 0.97333333, 0.97333333, 0.98      ,
        0.98      ]),
 'std_test_score': array([0.03399346, 0.02108185, 0.01333333, 0.02494438, 0.01632993,
        0.01632993]),
 'rank_test_score': array([6, 5, 3, 3, 1, 1], dtype=int32)}

In [65]:
# cv_results_의 결과를 pandas로 만들어 전치(T)해서 살펴보면 편하다.
pd.DataFrame(grid.cv_results_).T

,0,1,2,3,4,5
mean_fit_time,0.002601,0.001849,0.001818,0.00196,0.002571,0.001998
std_fit_time,0.000717,0.000031,0.000066,0.000174,0.000593,0.000112
mean_score_time,0.003507,0.002667,0.00276,0.002705,0.003598,0.00286
std_score_time,0.001123,0.000075,0.000197,0.000056,0.000782,0.00019
param_n_neighbors,2,3,4,5,6,7
params,{'n_neighbors': 2},{'n_neighbors': 3},{'n_neighbors': 4},{'n_neighbors': 5},{'n_neighbors': 6},{'n_neighbors': 7}
split0_test_score,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667
split1_test_score,0.933333,0.966667,0.966667,1.0,1.0,1.0
split2_test_score,0.933333,0.933333,0.966667,0.933333,0.966667,0.966667
split3_test_score,0.9,0.966667,0.966667,0.966667,0.966667,0.966667
split4_test_score,1.0,1.0,1.0,1.0,1.0,1.0
mean_test_score,0.946667,0.966667,0.973333,0.973333,0.98,0.98
std_test_score,0.033993,0.021082,0.013333,0.024944,0.01633,0.01633
rank_test_score,6,5,3,3,1,1

In [66]:
# 하이퍼 파라미터를 여러개 한번에 찾을 수 있다.
grid = GridSearchCV(KNeighborsClassifier(), {'n_neighbors':[2,3,4,5,6,7],
                                             'weights':['distance','uniform']})

In [67]:
grid.fit(iris.iloc[:,:-1], iris.target)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [2, 3, 4, 5, 6, 7],
                         'weights': ['distance', 'uniform']})

In [68]:
# params를 보면 입력된 하이퍼 파라미터들의 가능한 조합을 모두 계산했다.
pd.DataFrame(grid.cv_results_).T

,0,1,2,3,4,5,6,7,8,9,10,11
mean_fit_time,0.00288,0.001832,0.001958,0.001813,0.001797,0.00183,0.002312,0.001888,0.001702,0.002146,0.00312,0.005092
std_fit_time,0.001068,0.000081,0.000272,0.000054,0.000052,0.000074,0.000278,0.00022,0.000012,0.000605,0.000156,0.004241
mean_score_time,0.002356,0.002747,0.00226,0.002706,0.002057,0.002635,0.002592,0.002593,0.001952,0.004862,0.003124,0.004173
std_score_time,0.000641,0.0001,0.000723,0.000195,0.00019,0.000101,0.000358,0.000041,0.000115,0.003976,0.0002,0.000173
param_n_neighbors,2,2,3,3,4,4,5,5,6,6,7,7
param_weights,distance,uniform,distance,uniform,distance,uniform,distance,uniform,distance,uniform,distance,uniform
params,"{'n_neighbors': 2, 'weights': 'distance'}","{'n_neighbors': 2, 'weights': 'uniform'}","{'n_neighbors': 3, 'weights': 'distance'}","{'n_neighbors': 3, 'weights': 'uniform'}","{'n_neighbors': 4, 'weights': 'distance'}","{'n_neighbors': 4, 'weights': 'uniform'}","{'n_neighbors': 5, 'weights': 'distance'}","{'n_neighbors': 5, 'weights': 'uniform'}","{'n_neighbors': 6, 'weights': 'distance'}","{'n_neighbors': 6, 'weights': 'uniform'}","{'n_neighbors': 7, 'weights': 'distance'}","{'n_neighbors': 7, 'weights': 'uniform'}"
split0_test_score,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667
split1_test_score,0.966667,0.933333,0.966667,0.966667,0.966667,0.966667,1.0,1.0,1.0,1.0,1.0,1.0
split2_test_score,0.933333,0.933333,0.933333,0.933333,0.933333,0.966667,0.9,0.933333,0.966667,0.966667,0.966667,0.966667
split3_test_score,0.933333,0.9,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667,0.966667
split4_test_score,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean_test_score,0.96,0.946667,0.966667,0.966667,0.966667,0.973333,0.966667,0.973333,0.98,0.98,0.98,0.98
std_test_score,0.024944,0.033993,0.021082,0.021082,0.021082,0.013333,0.036515,0.024944,0.01633,0.01633,0.01633,0.01633
rank_test_score,11,12,7,7,7,5,7,5,1,1,1,1

### wine dataset

In [69]:
from sklearn.datasets import load_wine

In [70]:
data = load_wine()

In [72]:
data_pd = pd.DataFrame(data.data, columns=data.feature_names)
data_pd['target'] = pd.DataFrame(data.target, columns=['target'])

In [73]:
wine = data_pd.copy()

In [74]:
wine.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [75]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  target                        178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

In [76]:
from sklearn.linear_model import LogisticRegression

In [77]:
from sklearn.model_selection import GridSearchCV

In [78]:
def all_models(X_train, y_train, X_validation, y_validation, cv=10):
  ##########
  # 1. Logistic Regression
  grid_lr = GridSearchCV(LogisticRegression(), cv=cv)
  grid_lr.fit(X_train, y_train)
  lr_pd = pd.DataFrame(grid.cv_results_)

  ##########
  # 2. KNeighbors
  grid_knn = GridSearchCV(KNeighborsClassifier(), cv=cv)
  grid_knn.fit(X_train, y_train)
  knn_pd = pd. dataFrame(grid_knn.cv_results_)
  return pd.concat([lr_pd, knn_pd], axis = 1)

GridSearchCV2

In [79]:
# GridSearchCV(estimator, param_grid, *...)
# param_grid는 dict 또는 dictionary로 된 list를 인자로 받을 수 있다.
grid = GridSearchCV(KNeighborsClassifier(), [{'n_neighbors':[2,3,4,5],
                                             'weights':['uniform', 'distance']}])

In [80]:
grid.fit(wine.iloc[:,:-1], wine.target)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid=[{'n_neighbors': [2, 3, 4, 5],
                          'weights': ['uniform', 'distance']}])

In [81]:
# params를 보면 매번 실행할 때 마다 사용되는 하이퍼 파라미터를 기록한다.
# params_grid를 리스트 안에 딕셔너리 형태로 넣으면 딕셔너리 안에서 조합이 구해진다.
# 다른 딕셔너리에 들어간 하이퍼 파라미터와는 조합을 만들지 않는다.
pd.DataFrame(grid.cv_results_).T

,0,1,2,3,4,5,6,7
mean_fit_time,0.005783,0.00335,0.003379,0.003333,0.003644,0.003789,0.004135,0.003257
std_fit_time,0.003903,0.000135,0.000263,0.000387,0.000244,0.000177,0.001081,0.000146
mean_score_time,0.005678,0.003619,0.006132,0.003807,0.005207,0.00406,0.006055,0.003334
std_score_time,0.001684,0.000218,0.002876,0.000739,0.000083,0.000714,0.001908,0.000228
param_n_neighbors,2,2,3,3,4,4,5,5
param_weights,uniform,distance,uniform,distance,uniform,distance,uniform,distance
params,"{'n_neighbors': 2, 'weights': 'uniform'}","{'n_neighbors': 2, 'weights': 'distance'}","{'n_neighbors': 3, 'weights': 'uniform'}","{'n_neighbors': 3, 'weights': 'distance'}","{'n_neighbors': 4, 'weights': 'uniform'}","{'n_neighbors': 4, 'weights': 'distance'}","{'n_neighbors': 5, 'weights': 'uniform'}","{'n_neighbors': 5, 'weights': 'distance'}"
split0_test_score,0.611111,0.805556,0.638889,0.722222,0.638889,0.666667,0.722222,0.777778
split1_test_score,0.611111,0.638889,0.694444,0.722222,0.694444,0.694444,0.666667,0.638889
split2_test_score,0.638889,0.666667,0.666667,0.666667,0.638889,0.694444,0.638889,0.666667
split3_test_score,0.657143,0.685714,0.657143,0.657143,0.657143,0.657143,0.657143,0.657143
split4_test_score,0.8,0.828571,0.857143,0.857143,0.771429,0.857143,0.771429,0.857143
mean_test_score,0.663651,0.725079,0.702857,0.725079,0.680159,0.713968,0.69127,0.719524
std_test_score,0.070381,0.076912,0.079204,0.071393,0.049941,0.073113,0.04878,0.084285
rank_test_score,8,1,5,1,7,4,6,3

### GridSearchCV + Pipeline

#### GridSearchCV 와 Pipeline을 연동하기

In [82]:
from sklearn.pipeline import Pipeline

In [83]:
from sklearn.preprocessing import StandardScaler

In [87]:
pipe = Pipeline([('ss', StandardScaler()), ('knn', KNeighborsClassifier())])

In [88]:
grid = GridSearchCV(pipe, {'n_neighbors':[2,3,4,5]})

In [ ]:
# ValueError 
#Check the list of available parameters with `estimator.get_params().keys()`
grid.fit(wine.iloc[:,:-1], wine.target)

In [92]:
# pipe의 내부 보기
vars(pipe)

{'steps': [('ss', StandardScaler()), ('knn', KNeighborsClassifier())],
 'memory': None,
 'verbose': False}

In [93]:
pipe.steps[1]

('knn', KNeighborsClassifier())

In [97]:
# pip에서 knn알고리즘만 꺼내서 get_params을 확인한다.
# n_neighbors가 맞다.
pipe.steps[-1][1].get_params()

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 5,
 'p': 2,
 'weights': 'uniform'}

In [98]:
# pipe 자체의 get_params을 확인한다.
# Pipeline은 알고리즘의 하이퍼 파라미터 이름을 맹글링한다.
pipe.get_params()

{'memory': None,
 'steps': [('ss', StandardScaler()), ('knn', KNeighborsClassifier())],
 'verbose': False,
 'ss': StandardScaler(),
 'knn': KNeighborsClassifier(),
 'ss__copy': True,
 'ss__with_mean': True,
 'ss__with_std': True,
 'knn__algorithm': 'auto',
 'knn__leaf_size': 30,
 'knn__metric': 'minkowski',
 'knn__metric_params': None,
 'knn__n_jobs': None,
 'knn__n_neighbors': 5,
 'knn__p': 2,
 'knn__weights': 'uniform'}

In [99]:
# mangling된 이름으로 하이퍼 파라미터 이름을 바꾸었다.
grid = GridSearchCV(pipe,{'knn__n_neighbors':[2,3,4,5]})

In [100]:
# Pipeline을 거쳐서 GridSearchCV까지 한번에 사용할 수 있다.
grid.fit(wine.iloc[:,:-1], wine.target)

GridSearchCV(estimator=Pipeline(steps=[('ss', StandardScaler()),
                                       ('knn', KNeighborsClassifier())]),
             param_grid={'knn__n_neighbors': [2, 3, 4, 5]})

In [101]:
pd.DataFrame(grid.cv_results_).T

,0,1,2,3
mean_fit_time,0.006879,0.00358,0.003571,0.004215
std_fit_time,0.005299,0.000083,0.000132,0.001
mean_score_time,0.003993,0.003582,0.003057,0.00349
std_score_time,0.001496,0.000854,0.000037,0.000472
param_knn__n_neighbors,2,3,4,5
params,{'knn__n_neighbors': 2},{'knn__n_neighbors': 3},{'knn__n_neighbors': 4},{'knn__n_neighbors': 5}
split0_test_score,0.916667,0.888889,0.888889,0.944444
split1_test_score,0.944444,0.944444,0.944444,0.944444
split2_test_score,0.944444,0.972222,0.972222,0.972222
split3_test_score,1.0,1.0,1.0,1.0
split4_test_score,0.914286,0.914286,0.914286,0.885714
mean_test_score,0.943968,0.943968,0.943968,0.949365
std_test_score,0.030875,0.03963,0.03963,0.037911
rank_test_score,2,2,2,1