<a href="https://colab.research.google.com/github/dlscks/pythondemo/blob/main/python_03_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1
if a>3 :
  print('Yes')
else:
   print('No')

No

In [2]:
if a>0:
  print('Yes')
  print('Ok')
else :
    print('No')

Yes
Ok

In [4]:
# jumsu가 80이상 '상', 80미만~60이상 '중', 60미만 '하'
jumsu = 55
if jumsu >=80:
  print('상')
elif jumsu >=60:
  print('중')
else:
  print('하')

하

### existance
   python에서 조건은 존재론(existance)적이다. ->truthy,falsy

In [6]:
# 0은 숫자가 없는 것과 같음 -> falsy
a= 0.0
if a:
  print('Yes')
else:
  print('No')

No

In [7]:
# None은 객체가 없는 것과 같음 ->falsy
a = None
if a:
  print('Yes')
else:
  print('No')

No

In [8]:
# 비어 있는 dict는 없는것과 같음 -> falsy
a = {}
if a:
  print('Yes')
else:
  print('No')

No

In [9]:
# 인스턴스 방식으로 값을 만들 때 괄호 안이 비어 있는 값을 만든다.
# if에서 모두 false이다.

a = int()
b = float()
c = complex()
d = list()

In [11]:
if a:
  print('Yes')
else:
  print('No')

No

In [12]:
3<2 or 4<5

True

In [14]:
# and는 앞이 True이면 뒤에 값을 반환한다.
# 3은 존재론적으로 True
3 and 4

4

In [15]:
# and는 앞이 False이면 앞에 값을 반환한다.
# 비어 있는 문자열은 없는 것과 같음 -> Falsy
"" and 4

''

In [16]:
# or은 and의 반대
# 앞이 True이면 앞, 앞이  False이면 뒤의 값을 반환한다.
3 or 4

3

In [17]:
"" or 4

4

In [18]:
# if 조건에 문장을 사용할 수 없다.
if a= 4:
  print('4')

SyntaxError: ignored

- 첫 번째 방법은 순서형 또는 딕셔너리를 사용하는 것이다.

In [19]:
for v in[1,2,3,4,5]:
  print(v)

1
2
3
4
5

In [20]:
for v in 'python':
  print(v)

p
y
t
h
o
n

In [21]:
t=[('one',1),('two',2)]
for k, v in t:
  print('{0} : {1}'.format(k,v))

one : 1
two : 2

In [26]:
dic = {'a':1, 'b':2}
for k in dic:
  print('{0} : {1}'.format(k, dic[k]))

a : 1
b : 2

In [28]:
print(len(dir(dict)), len(dir(dic)))

41 41

In [29]:
dic.__doc__

"dict() -> new empty dictionary\ndict(mapping) -> new dictionary initialized from a mapping object's\n    (key, value) pairs\ndict(iterable) -> new dictionary initialized as if via:\n    d = {}\n    for k, v in iterable:\n        d[k] = v\ndict(**kwargs) -> new dictionary initialized with the name=value pairs\n    in the keyword argument list.  For example:  dict(one=1, two=2)"

In [30]:
dict.__doc__

"dict() -> new empty dictionary\ndict(mapping) -> new dictionary initialized from a mapping object's\n    (key, value) pairs\ndict(iterable) -> new dictionary initialized as if via:\n    d = {}\n    for k, v in iterable:\n        d[k] = v\ndict(**kwargs) -> new dictionary initialized with the name=value pairs\n    in the keyword argument list.  For example:  dict(one=1, two=2)"

### 반복문

- 반복문에서 else는 반복문이 완벽하게 끝났을 때 실행된다
- 대부분의 프로그래밍 언어는 while과 for을 지원한다.

In [36]:
# while문이 완벽히 돌았으므로 end가 출력된다.
a = 15;

while a>10:
  a-=1
  print(a)
else:
  print('end')

14
13
12
11
10
end

In [47]:
# break는 반복문을 중단시킨다.
# break가 실행되면 반복문이 완벽하게 실행된 것이 아니므로 else가 실행되지 않는다.
a = 10
while a>1:
  a-=1
  if a ==5:
   break     
  print(a)
else:
      print('end')

9
8
7
6

In [48]:
# continue는 다음 루프로 바로 넘어간다.
# 반복문을 중단하지는 않으므로 else문이 실행된다.
a =10
while a>1:
  a -= 1
  if a==5:
    continue
  print(a)
else:
  print('end')

9
8
7
6
4
3
2
1
end

### range함수
- range(start, stop, step) 함수는 주로 for문과 같이 사용된다.
- range(start, stop, step) 함수는 숫자범위에 대하여 반복을 하거나 특정한 범위의 숫자를 나열하도록 해주는 특별한 함수이다.
- range 함수를 사용하는 형식은 선택사항인 시작값(start), 종료값(stop), 증감분(step)이다.
- range(0,10,2) => 0,2,4,6,8
- 0부터 시작하여 2의 간격으로 10에 미만까지의 정수

In [52]:
for i in range(1,6):
  print(i)

1
2
3
4
5

### enumerate함수
- enumerate()함수는 인덱스와 객체를 동시에 저장할 수 있는 특징을 가진 for문을 좀 더 효율적으로 사용하기 위한 함수이다.
- enumerate()함수는 순서자료형(리스트,튜플,문자열)을 입력으로 받아 인덱스를 포함하는 enumerate객체를 리턴한다.
- enumerate([순서자료형],[시작값=0])의 형식을 가지며 순서자료형은 반복자가 가능한객체가 입력되고 시작값은 입력시 해당수부터 증가하며, 생략했을 경우 기본값은 0이다.

In [53]:
for k, v in enumerate(['apple','python','microsoft']):
  print('{0} :{1}'.format(k,v))

0 :apple
1 :python
2 :microsoft

In [54]:
for j in enumerate(['apple','python','microsoft'],1):
  print('{0}'.format(j))

(1, 'apple')
(2, 'python')
(3, 'microsoft')

### zip 함수
- 매개 인자로 여러 목록을 받아 각 목록의 요소를 튜플에 담아 목록에 저장한다.

In [55]:
a=[1,2,3,4,5]
b=['a','b','c','d','e']
for x,y in zip (a,b):
  print(x,y)
  t=x,y
print(type(t))

1 a
2 b
3 c
4 d
5 e
<class 'tuple'>

### items 함수
- dict의 내장함수로 키와 값을 동시에 검색한다.

In [57]:
dic = {'애플':'www.apple.com', '파이썬':'www.python.org'}
for k, v in dic.items():
  print('{0} : {1}'.format(k,v))
  m=k,v
print(type(m))

애플 : www.apple.com
파이썬 : www.python.org
<class 'tuple'>

### 예외(Exception)
- 프로그램을 수행하다 보면 문법적으로 문제가 없는 코드를 실행하는 중에 더이상 진행할 수 없는 상황이 발생하는 경우를 의미한다.
- 모든 예외는 클래스로 표현되며 최상의 클래스는 BaseException클래스이다.
- 예외상황
   - 0으로 숫자 나누기
   - 문자열과 숫자 더하기
   - 참조범위를 넘어서 인덱스 참조하기
   - 등록되어 있지 않은 키로 사전 검색하기

- 나누기 연산에서 ZeroDivisionError에러 발생

In [65]:
a,b = 5,0
c = a/b
print(c)

ZeroDivisionError: ignored

- 정의되지 않은 변수를 사용하면 NameError에러 발생

In [66]:
4 + spam *3

NameError: ignored

- 숫자가 아닌 데이터를 int로 변형할 때 ValueError에러 발생

In [67]:
int(3)**int('abc')

ValueError: ignored

- 연산 중에 인수의 타입이 맞지 않으면 TypeError에러 발생

In [68]:
'2' + 2

TypeError: ignored

[exception](https://python.bakyeono.net/chapter-9-4.html)
![exception](https://python.bakyeono.net/img/img-9-4.png)

[파이썬 예외처리](https://blog.naver.com/PostView.nhn?isHttpsRedirect=true&blogId=dudwo567890&logNo=130161392390)

### 예외처리(Exception Handling)
- 예외처리란 예외가 발생했을 때 프로그램이 정상적으로 종료될 수 있도록 예외가 발생되는 곳에서 해주는 기능이다.
- 형식
  - try:<예외가 발생될 가능성이 있는 문장>
  - except [발생 오류[as 오류 메시지 변수]]:<예외가 발생했을 때 실행되는 문장>
  - Else: <예외가 발생하지 않았을 때 실행되는 문장
  - finally: <예외 발생 여부에 상관없이 무조건 실행되는 문장>

### try~except
- try 절 안에 문제가 발생할 가능성이 있는 코드 블록을 배치하고 except절에는 문제가 생겼을 때 뒤처리를 하는 코드 블록 배치

  - try : # 문제가 발생할 가능성이 있는 코드
  - except : # 문제가 생겼을 때 실행할 코드

In [69]:
# try~except
# divide 함수에서 1/0을 실행하다 0으로 나누려는 시도임을 파악하고 예외를 일으킨다. 발생한 예외를 처리할 곳을 찾다가
# except절을 만나 프로그램 흐름을 변경한다.

def divide(x,y):
  return x/y

try:
  result=divide(1,0)
except ZeroDivisionError:
  print('분모는 0이면 안됨')
else:
  print(result)
finally:
  print('문제풀이 끝')

분모는 0이면 안됨
문제풀이 끝

### 복수개의 except
- try 블록 안에서 여러 종류의 예외가 발생하는 경우에 사용
 - try: # 문제가 발생할 가능성이 있는 코드
 - except 예외형식1: #문제가 생겼을 때 실행할 코드
 - except 예외형식2: #문제가 생겼을 때 실행할 코드

In [74]:
my_list = [1,2,3]

try:
  print("첨자를 입력하세요:")
  index = int(input())
  print(my_list[index]/0)
except ZeroDivisionError:    #index가 0~2사이로 입력된다면ZeroDivisionError가 일어난다.
  print("0으로 나눌 수 없습니다.")
except IndexError:    # index가 0~2를 벗어나면 mylist[index]에서 IndexError가 발생한다.
  print("잘못된 첨자입니다.")

첨자를 입력하세요:
2
0으로 나눌 수 없습니다.

- 예외의 인스턴스를 활용하는 방법: as 문 사용
 - try: # 문제가 발생할 가능성이 있는 코드
 - except 예외형식1 as err: # 문제가 생겼을 때 실행할 코드
 - except 예외형식2 as err: # 문제가 생겼을 때 실행할 코드

In [75]:
my_list = [1,2,3]

try:
  print("첨자를 입력하세요:")
  index = int(input())
  print(my_list[index]/0)
except ZeroDivisionError as err:
  print('0으로 나눌 수 없습니다. ({0})'.format(err))
except IndexError as err:
  print("잘못된 첨자입니다. ({0})".format(err))

첨자를 입력하세요:
2
0으로 나눌 수 없습니다. (division by zero)

- try ~ except ~ else
 - try와 함께 사용하는 else절은 try절에 있는 코드블록 실행 중에 아무런 예외가 일어나지 않으면 실행됨.
 
 - try: #실행할 코드블록
 - except: # 예외 처리 코드블록
 - else: # except절을 만나지 않았을 경우 실행하는 코드블록

In [82]:
my_list = [1,2,3]

try:
  print('첨자를 입력하세요:')
  index = int(input())
  print('my_list[{0}]: {1}'.format(index, my_list[index]))
except IndexError as err:
  print('0으로 나눌 수 없습니다. ({0})'.format(err))
else:
  print("리스트의 요소 출력에 성공했습니다.")

첨자를 입력하세요:
4
0으로 나눌 수 없습니다. (list index out of range)

### raise
- raise 은 프로그래머가 의도적으로 예외를 발생시켜야 하는 경우에 사용한다.
- raise구문은 해당 예외를 단순히 발생시키거나 예외 발생시 필요한 정보를 같이 전달하기 위하여 인자로 넘겨줄 수 있다. 또한, 예외를 상위에서 처리하도록 그대로 전달할 수도 있다.
- raise 구문의 예외로 올 수 있는 것으로 내장예외와 사용자정의 예외가 있다.

  - raise [Exception] # 해당 예외를 발생함
  - raise [Exception(data)] # 예외를 발생시 관련 데이터를 전달함
  - raise # 발생된 예외를 상위로 전달함

In [84]:
def RaiseErrorFunc():
  raise NameError("NameError의 인자")

def PropagateError():
  try:
    RaiseErrorFunc()
  except:
    print("에러전달 이전에 먼저 이 메시지가 출력됨")
  
PropagateError()

에러전달 이전에 먼저 이 메시지가 출력됨

In [85]:
def RaiseErrorFunc():
  raise NameError("NameError의 인자")

def PropagateError():
  try:
    RaiseErrorFunc()
  except:
    print("에러전달 이전에 먼저 이 메시지가 출력됨")
  raise

PropagateError()

에러전달 이전에 먼저 이 메시지가 출력됨

RuntimeError: ignored

In [98]:
def RaiseErrorFunc():
  raise NameError("NameError의 인자")

def PropagateError():
  try:
    RaiseErrorFunc()
  except:
    print("에러전달 이전에 먼저 이 메시지가 출력됨")
  raise
try:
   PropagateError()
except Exception as err:
 print('{0} 예외가 발생했습니다.'.format(err))

에러전달 이전에 먼저 이 메시지가 출력됨
No active exception to reraise 예외가 발생했습니다.