<a href="https://colab.research.google.com/github/dlscks/pythondemo/blob/main/python_33_%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5_%ED%95%98%EC%9D%B4%ED%8D%BC_%ED%8C%8C%EB%9D%BC%EB%AF%B8%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/python_demo

Mounted at /content/drive
/content/drive/MyDrive/python_demo

### iris dataset

In [2]:
from sklearn.datasets import load_iris

In [3]:
data = load_iris()

In [5]:
import pandas as pd

In [7]:
dir(data)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [8]:
data_pd = pd.DataFrame(data.data, columns=data.feature_names)
target_pd= pd.DataFrame(data.target, columns=['target'])
iris = pd.concat([data_pd,target_pd], axis=1)

In [9]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [10]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [11]:
from sklearn.model_selection import train_test_split

In [18]:
# hold out
X_train, X_test, y_train, y_test = train_test_split(iris.iloc[:,:-1], iris.target)

In [19]:
from sklearn.metrics import confusion_matrix

In [20]:
from sklearn.neighbors import KNeighborsClassifier

In [21]:
knn = KNeighborsClassifier()

In [22]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [25]:
pred = knn.predict(X_test)
pred

array([0, 0, 1, 2, 0, 2, 1, 2, 2, 1, 1, 2, 0, 0, 1, 2, 1, 1, 0, 2, 2, 1,
       2, 0, 1, 0, 1, 1, 0, 0, 1, 0, 2, 1, 2, 2, 2, 1])

In [26]:
confusion_matrix(y_test, pred)

array([[11,  0,  0],
       [ 0, 13,  2],
       [ 0,  1, 11]])

- 행은 실제, 열은 예측값이다.
- 실제 0인데 0으로 예측한 값 11개
- 실제 1인데 1로 예측한값 13개 2로예측한값 2개
- 실제 2인데 1로 예측한값 1개 2로예측한값 11개   

array([[11,  0,  0],   
       [ 0, 13,  2],   
       [ 0,  1, 11]])   

- 위의 결과를 cofision matrix는 다음과 같다.

| |setosa로 예측|versicolor로 예측 | virginica로 예측|   
|---|---|---|---|   
|실제 setosa|11|0|0|   
|실제 versicolor|0|13|2|   
|실제 virginica|0|1|11|

- 이진 분류하는 confusion matrix에서 각 위치를 다음과 같이 이름 붙인다.

|||Predict||
|---|---|---|---|
|   |   |True|False|
|Actual|True|True Positive|False Negative(2종오류)|
|      |False|False Positive(1종오류)|True Negative|

- False Positive는 1종 오류
- False Negative는 2종 오류

- 1종 오류와 2종 오류 중에서 어떤 것이 더 중요한지는, 의사결정자의 판단에 따라 다르다.